@{
    ViewData["Title"] = "Create / Edit";
}

@model SpendSmart.Models.Expense

<div class="text-center">
    <h1 class="display-4">Create or Edit an expense</h1>
</div>

<form asp-controller="Home" asp-action="CreateEditExpenseForm">

    <input hidden class="form-control " type="number" placeholder="0" asp-for="Id"/>

    <label class="mt-2">Value in CZK</label>
    <input class="form-control " type="number" placeholder="0" step="0.01" asp-for="Value"/>

    <label class="mt-2">Description</label>
    <input class="form-control " type="text" placeholder="Add description" asp-for="Description"/>

    <button class="btn btn-primary mt-4" type="submit">Ok</button> 
</form>